asgiref==3.9.1
Django==5.2.5
pillow==11.3.0
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.0.1
whitenoise==6.7.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
django-storages[azure]==1.14.4
azure-storage-blob==12.21.0
