{% extends "layout.html" %} 
{% block title %}Register - TweetX {% endblock %}
{% load static %}

{% block sidebar %}{% endblock %} 
{% block menu-button %} {% endblock %}

{% block content %}
<div class="auth-container">
  <h2>Create your account</h2>

  <form method="post" class="styled-auth-form">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} mb-3 alert-dismissible fade show" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field.as_widget }}
    {% endfor %}
    <button type="submit" class="auth-btn">Create Account</button>
  </form>
  <div class="auth-link">
    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
  </div>
</div>
{% endblock %}
